<% include('../layouts/header.ejs') %>

<h3>Welcome <%= user.name %>
</h3>
<table width="50%">
    <tr>
        <td>Name:</td>
       <td><%= user.name %></td>
    </tr>
    <tr>
        <td>Contact number:</td>
       <td><%= user.contact %></td>
    </tr>
    <tr>
        <td>Email:</td>
       <td><%= user.email %></td>
    </tr>
    <tr>
        <td>Pancard Number:</td>
       <td><%= user.pancard %></td>
    </tr>
    <tr>
        <td>Company Name:</td>
       <td><%= user.company_name %></td>
    </tr>
    <tr>
        <td>Experience:</td>
       <td><%= user.experience %></td>
    </tr>
    <tr>
        <td>Skills:</td>
       <td><%= user.technical_skills%></td>
    </tr>
    <tr>
        <td>Status:</td>
       <td><%= user.statuss %></td>
    </tr>
    

</table>
<h4><a href="/logout">Logout</a></h4>
<h4><a href="/edit?id=<%= user._id %>">Add Query</a></h4>
<h4><a href="/dashboard">DashBoard</a></h4>
<% include('../layouts/footer.ejs') %>